#masthead {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 190;
	background: $clr_black;
	color: $clr_white;
	font-size: $font_size-sml;
	padding: 2rem;

	h1 {
		margin: 0;
	}

	button {
		position: fixed;
		top: 0;
		right: 0;
		z-index: 205;
		margin: 1rem 2rem;
		font-size: $font_size-xlg;
		background: none;
		border: none;
		color: $clr_white;
		cursor: pointer;

		&:hover {
			color: $clr_brand;
		}
	}
}

nav {
	position: absolute;
	left: -50000px;
	top: 0;
	z-index: 200;
	opacity: 0;
	background: rgba($clr_white, 0.9);
	padding: 1rem;
	transition: opacity $ease-main $speed-fast;
	width: 100%;
	margin: 0;

	ul {
		list-style-type: none;
		margin: 0;
		@media screen and (max-width: 599px){
			padding: 0.5rem 5rem 0.5rem 0.5rem;
			height: 100vh;
			overflow-y: scroll;
		}
		@media screen and (min-width: 600px){
			column-count: 2;
			padding: 0 5rem;
		}

		li {
			display: block;
		}
	}

	a {
		display: block;
		font-size: 1rem;
		color: $clr_black;
		text-decoration: none;
		padding: 0.5rem;

		&:hover {
			color: $clr_brand;
		}
	}
}

#masthead[data-state="is-active"] {
	nav {
		left: 0;
		opacity: 1;
	}
	button {
		color: $clr_brand;

		&:hover {
			color: $clr_black;
		}
	}
}
